 .jumbotron {
  padding: 200px
 }
 
 #myCarousel {
  padding: 20px;
  width: 80%;
  min-width: 50px;
  padding-top: 0;
  margin: 0 auto;
 }
 
 @media only screen and (min-width: 375px) {
  .clans {
   text-align: center;
  }
  h1 {
   font-size: 30px;
  }
  .section h1 {
   font-size: 40px;
  }
  .trivia {
   text-align: center;
  }
  .battles {
   text-align: center;
  }
  .pictures {
   text-align: center;
  }
  .timeline {
   text-align: center;
  }
  #contact {
   text-align: center;
  }
  #battles {
   padding-top: 100px;
  }
  #myCarousel {
   padding: 40px;
   width: 80%;
   min-width: 100px;
   padding-top: 0;
   margin: 0 auto;
  }
 }
 
 @media only screen and (min-width: 768px) {
  .clans {
   text-align: center;
  }
  h1 {
   font-size: 50px;
  }
  .section h1 {
   font-size: 80px;
  }
  .trivia {
   text-align: center;
  }
  .battles {
   text-align: center;
  }
  .pictures {
   text-align: center;
  }
  .timeline {
   text-align: center;
  }
  #contact {
   text-align: center;
  }
  #battles {
   padding-top: 100px;
  }
  #myCarousel {
   padding: 60px;
   width: 80%;
   min-width: 300px;
   padding-top: 0;
   margin: 0 auto;
  }
 }
 /*medium & up*/
 
 @media only screen and (min-width: 992px) {
  .clans {
   text-align: center;
  }
  h1 {
   font-size: 100px;
  }
  .trivia {
   text-align: center;
  }
  .battles {
   text-align: center;
  }
  .pictures {
   text-align: center;
  }
  .timeline {
   text-align: center;
  }
  #battles {
   padding-top: 50px;
  }
  #myCarousel {
   padding: 80px;
   width: 80%;
   min-width: 500px;
   padding-top: 0;
   margin: 0 auto;
  }
  #contact {
   text-align: center;
  }
 }
 /*large & up*/
 
 @media only screen and (min-width: 1200px) {
  .clans {
   text-align: center;
  }
  h1 {
   font-size: 150px;
  }
  .Explination {
   padding-top: 10px;
   text-align: center;
  }
  .trivia {
   text-align: center;
  }
  .battles {
   text-align: center;
  }
  .pictures {
   text-align: center;
  }
  .timeline {
   text-align: center;
  }
  #battles {
   padding-top: 50px;
  }
  #myCarousel {
   padding: 100px;
   width: 80%;
   min-width: 760px;
   padding-top: 0;
   margin: 0 auto;
  }
  #contact {
   text-align: center;
  }
 }
 
 .Home {
  padding-top: 100px;
  text-align: center;
 }
 
 .Explination {
  padding-top: 10px;
  text-align: center;
 }
 