.navbar-custom {
            background: #ae030e;
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
        }
        
        .navbar-custom .navbar-brand {
            color: white;
        }
        
        .navbar-custom .navbar-brand:hover,
        .navbar-custom .navbar-brand:focus,
        .navbar-custom .navbar-brand:active,
        .navbar-custom .navbar-brand.active {
            color: white;
        }
        
        .navbar-custom .navbar-nav {
            letter-spacing: 1px;
        }
        
        .navbar-custom .navbar-nav li a {
            color: white;
        }
        
        .navbar-custom .navbar-nav li a:hover {
            color: #000000;
        }
        
        .navbar-custom .navbar-nav li a:focus,
        .navbar-custom .navbar-nav li a:active {
            color: white;
        }
        
        .navbar-custom .navbar-nav li.active a {
            color: white;
            background: #000000;
        }
        
        .navbar-custom .navbar-nav li.active a:hover,
        .navbar-custom .navbar-nav li.active a:focus,
        .navbar-custom .navbar-nav li.active a:active {
            color: white;
            background: #000000;
        }
        
        .navbar-custom .navbar-toggle {
            color: white;
            text-transform: uppercase;
            font-size: 10px;
            border-color: white;
        }
        
        .navbar-custom .navbar-toggle:hover,
        .navbar-custom .navbar-toggle:focus {
            background-color: #000000;
            color: white;
            border-color: #000000;
        }
        
        @media (min-width: 768px) {
            .navbar-custom {
                padding: 25px 0;
                -webkit-transition: padding 0.3s;
                -moz-transition: padding 0.3s;
                transition: padding 0.3s;
            }
            .navbar-custom .navbar-brand {
                font-size: 2em;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
            }
            .navbar-custom.affix {
                padding: 10px 0;
            }
            .navbar-custom.affix .navbar-brand {
                font-size: 1.5em;
            }
        }
        